/*
About Page Styling | Client | SUITAPP Web App
GROUP 1: Amine Bensalem, Douglas MacKrell, Savita Madray, Joseph P. Pasaoa
*/

.About {
    display: inline-block;
    text-align: center;
  }
  
  .hero-logo {
    width: 60%;
    margin-top: 20px;
    align-self: center;
    text-align: center;
  }
  
  .about-text {
    background-color: #F1EFEF;
    color: black;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    margin: 40px;
  }